<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="byakugan-plugin-gyroscope" version="0.0.1">
  <name>Gyroscope</name>
  <description>Get gyroscope</description>
  <js-module src="www/gyroscope.js" name="Gyroscope">
    <clobbers target="Gyroscope" />
  </js-module>

  <platform name="android">
    <dependency id="cordova-support-kotlin" version="1.1.0" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Gyroscope">
        <param name="android-package" value="com.luminagic.byakugan.gyroscope.Gyroscope" />
      </feature>
    </config-file>
    <source-file src="android/Gyroscope.kt" target-dir="app/src/main/java/com/luminagic/byakugan/gyroscope" />
  </platform>
  <platform name="ios">
    <dependency id="cordova-plugin-add-swift-support" version="1.7.1"/>
    <config-file target="config.xml" parent="/*">
      <feature name="Gyroscope">
        <param name="ios-package" value="Gyroscope" />
      </feature>
    </config-file>
    <source-file src="ios/Gyroscope.swift" />
    <framework src="CoreMotion.framework" />
  </platform>
</plugin>
