html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  background-color: #f1f1f3;
  -webkit-user-select: none;
  user-select: none;
}
.fill {
  flex: 1;
}
.vcontainer {
  display: flex;
  flex-direction: column;
}
.hcontainer {
  display: flex;
  flex-direction: row;
}
.m30 {
  margin: 30px;
}
.center {
  text-align: center;
}
.inputw280 {
  width: 280px !important;
}

// 取消a超链接下划线
a {
  text-decoration: none;
}
