<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="byakugan-plugin-baidutts" version="0.0.1">
  <name>BaiduTTS</name>
  <description>Speaking text by baidu sdk</description>
  <preference name="API_KEY"/>
  <preference name="SECRET_KEY"/>
  <preference name="APP_ID"/>

  <js-module src="www/baidutts.js" name="BaiduTTS">
    <clobbers target="BaiduTTS" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BaiduTTS">
        <param name="ios-package" value="BaiduTTS" />
      </feature>
      <preference name="bdttsapikey" value="$API_KEY"/>
      <preference name="bdttssecretkey" value="$SECRET_KEY"/>
    </config-file>

    <framework src="libc++.tbd" weak="true"/>
    <framework src="libz.1.2.5.tbd" weak="true"/>
    <framework src="libiconv.2.4.0.tbd" weak="true"/>
    <framework src="libstdc++.6.0.9.tbd" weak="true"/>
    <framework src="AudioToolbox.framework" weak="true"/>
    <framework src="AVFoundation.framework" weak="true"/>
    <framework src="CoreTelephony.framework" weak="true"/>
    <framework src="SystemConfiguration.framework" weak="true"/>

    <header-file src="ios/BDSClientHeaders/TTS/BDSBuiltInPlayer.h"/>
    <header-file src="ios/BDSClientHeaders/TTS/BDSSpeechSynthesizer.h"/>
    <header-file src="ios/BDSClientHeaders/TTS/BDSSpeechSynthesizerDelegate.h"/>
    <header-file src="ios/BDSClientHeaders/TTS/BDSSpeechSynthesizerErrors.h"/>
    <header-file src="ios/BDSClientHeaders/TTS/BDSSpeechSynthesizerParams.h"/>
    <header-file src="ios/BDSClientHeaders/TTS/BDSSynthesizerLogLevel.h"/>

    <source-file src="ios/BDSClientLib/libetts_device_simulator.a" framework="true" />
    <source-file src="ios/BaiduTTS.m"/>

  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BaiduTTS">
        <param name="android-package" value="com.luminagic.byakugan.baidutts.BaiduTTS" />
      </feature>
      <preference name="bdttsappid" value="$APP_ID"/>
      <preference name="bdttsapikey" value="$API_KEY"/>
      <preference name="bdttssecretkey" value="$SECRET_KEY"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_SETTINGS" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    </config-file>

    <source-file src="android/libs/armeabi/libBDSpeechDecoder_V1.so" target-dir="app/src/main/jnilibs/armeabi" />
    <source-file src="android/libs/armeabi/libbd_etts.so" target-dir="app/src/main/jnilibs/armeabi" />
    <source-file src="android/libs/armeabi/libbdtts.so" target-dir="app/src/main/jnilibs/armeabi" />
    <source-file src="android/libs/armeabi/libgnustl_shared.so" target-dir="app/src/main/jnilibs/armeabi" />

    <source-file src="android/libs/armeabi-v7a/libBDSpeechDecoder_V1.so" target-dir="app/src/main/jnilibs/armeabi-v7a" />
    <source-file src="android/libs/armeabi-v7a/libbd_etts.so" target-dir="app/src/main/jnilibs/armeabi-v7a" />
    <source-file src="android/libs/armeabi-v7a/libbdtts.so" target-dir="app/src/main/jnilibs/armeabi-v7a" />
    <source-file src="android/libs/armeabi-v7a/libgnustl_shared.so" target-dir="app/src/main/jnilibs/armeabi-v7a" />

    <source-file src="android/libs/arm64-v8a/libBDSpeechDecoder_V1.so" target-dir="app/src/main/jnilibs/arm64-v8a" />
    <source-file src="android/libs/arm64-v8a/libbd_etts.so" target-dir="app/src/main/jnilibs/arm64-v8a" />
    <source-file src="android/libs/arm64-v8a/libbdtts.so" target-dir="app/src/main/jnilibs/arm64-v8a" />
    <source-file src="android/libs/arm64-v8a/libgnustl_shared.so" target-dir="app/src/main/jnilibs/arm64-v8a" />

    <source-file src="android/libs/mips/libBDSpeechDecoder_V1.so" target-dir="app/src/main/jnilibs/mips" />
    <source-file src="android/libs/mips/libbd_etts.so" target-dir="app/src/main/jnilibs/mips" />
    <source-file src="android/libs/mips/libbdtts.so" target-dir="app/src/main/jnilibs/mips" />
    <source-file src="android/libs/mips/libgnustl_shared.so" target-dir="app/src/main/jnilibs/mips" />

    <source-file src="android/libs/x86/libBDSpeechDecoder_V1.so" target-dir="app/src/main/jnilibs/x86" />
    <source-file src="android/libs/x86/libbd_etts.so" target-dir="app/src/main/jnilibs/x86" />
    <source-file src="android/libs/x86/libbdtts.so" target-dir="app/src/main/jnilibs/x86" />
    <source-file src="android/libs/x86/libgnustl_shared.so" target-dir="app/src/main/jnilibs//x86" />

    <source-file src="android/libs/x86_64/libBDSpeechDecoder_V1.so" target-dir="app/src/main/jnilibs/x86_64" />
    <source-file src="android/libs/x86_64/libbd_etts.so" target-dir="app/src/main/jnilibs/x86_64" />
    <source-file src="android/libs/x86_64/libbdtts.so" target-dir="app/src/main/jnilibs/x86_64" />
    <source-file src="android/libs/x86_64/libgnustl_shared.so" target-dir="app/src/main/jnilibs/x86_64" />

    <source-file src="android/libs/com.baidu.tts_2.3.0.jar" target-dir="app/libs" />

    <source-file src="android/BaiduTTS.kt" target-dir="app/src/main/java/com/luminagic/byakugan/baidutts" />
    <hook type="after_plugin_install" src="scripts/applyKotlinAndroidPlugin.js" />
  </platform>
</plugin>
